* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primaryFont;
    font-size: $defaultFontSize;
}

html, body {
    height: 100%;
    width: 100%;
}

a, button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}