@import '../../scss/main';

.search {
    position: absolute;
    left: 10%;
    top: 11vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 80px;
    border-radius: 6px;
    // margin: 0 auto;

    .search__filterOne,
    .search__filterTwo,
    .search__filterThree {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;

        input[type="text"] {
            border: none;
            outline: none;
            padding-left: 20px;
        }
    }

    .search__filterOne {
        flex: 0.4;
    }

    .search__filterTwo,
    .search__filterThree {
        flex: 0.3;
    }

    .search__filterThree {
        justify-content: space-between;

        div {
            label {
                font-weight: 700;
                font-size: 1.2rem;
                padding-left: 20px;
            }
        }

        .primaryBtn {
            width: 123px;
            height: 48px;
        }
    }
}