@import '../../../scss/main';

.howToApply {
    background-image: url('../../../img/desktop/bg-pattern-detail-footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: top;
    margin-top: 50px;
    margin-bottom: 150px;
    border-radius: 6px;
    padding: 50px;
    width: 100%;

    @media screen and (max-width: 500px) {
        padding: 30px;
    }

    h3 {
        font-size: 1.5rem;
        color: $white;
        margin-bottom: 20px;
    }

    p {
        color: $white;
        width: 80%;
    }

    a {
        color: $white;
        width: 80%;
    }
}