@import '../../scss/main';

.jobLibrary {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    width: 80%;
    margin: 100px auto;

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .loaderContainer {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        padding: 30px;
        border-radius: 5px;
    }
}